/*  
@mixin cover-background ()
Creates a full width background image on an element. 

-Parameters:
--Required:
$img-uri: URI of image you want to use as the background 

--Optional:
$background-top:  Defaults to "center - sets the "top" value of the background position
$background-left: Defaults to "center - sets the "left" value of the background position.
$background-attachment: Defaults to "fixed" - allows you to specify background attachment.

*/
html {
  background: #ffffff;
}

/* Simple stuff for the demo text. */
* {
  box-sizing: border-box;
}

.info {
  width: 100%;
  max-width: 40rem;
  background: #ffffff;
  color: #424242;
  /* Stuff for toggling the longer descriptive text so that the BG image actually shows */
  position: absolute;
  padding: 10px;
  top: 10%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.info h1 {
  text-transform: none;
  font-weight: 300;
  line-height: 1;
}
.info p {
  line-height: 1.2;
}
.info code {
  font-size: 0.825rem;
  overflow-x: auto;
}
.info code pre {
  background: #e6e6e6;
  padding: 1rem 0.125rem;
}
.info button {
  border-radius: 4px;
  background: white;
  border-width: 1px;
  padding: 0.375em 0.75em;
  font-size: 0.825rem;
}
.info button:after {
  content: "Lihat Detail";
}
.info .desc {
  height: 0;
  overflow: hidden;
}
.info.show-details .desc {
  height: auto;
}
.info.show-details button:after {
  content: "Sembunyikan Detail";
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}
