*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #FFF;
	background: url(pattern.jpg) repeat-x;
	margin: 0px;
	overflow: hidden;
	color: #333;
	font-family: Courier;
	font-size: 11px;
}

a, a:visited{
	color: #666;
	text-decoration: none;
}

a:hover{
	color: #333;
}

p{
	padding: 0px;
	margin: 8px;
}

input{
	font-family: Courier;
	font-size: 11px;	
	padding: 0px;
}

#aSearch{
	background: transparent;
	background: url(search-field.png) no-repeat;
	width: 372px;
	height: 48px;
	padding-right: 100px;
	padding-left: 12px;
	border: none;
	color: #666;
	text-align: left;
}

#aSearch:focus{
	outline: none;
}

#top{
	width: 100%;
	min-width: 1024px;
	position: absolute;
	top: 120px;
}

#buttons-area{
	position: relative;
	top: 40px;
	width: 480px;
	margin: 0 auto;
	text-align: center;
}

#buttons-area a{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

#buttons-area a:hover{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#search-form{
	width: 530px;
}

#gc_as{
	position: relative;
	width: 530px;
	top: 1px;
	margin: 0 auto;
	overflow: auto;
	color: #666;
	text-align: left;
	padding-left: 20px;
}

#preloader, .centered{
	width: 100%; 
	text-align: center;
}

#percentage{
	font-family: Arial;
	font-size: 10px;
}

#launcherButton{
	width: 150px;
	margin-top: 0px;
	text-align: center;
}

#continueAnywayButton, #trySearchAgainButton{
	width: 150px; margin-top: 10px; margin-right: 25px;
}

#writer{
	background: url() no-repeat;
	position: relative;
	/*
	width: 631px;
	height: 331px;
	*/
	width: 640px;
	height: 334px;
	margin: 0 auto;
}

div.subtitle{
	position: absolute;
	width: 631px;
	top: 100px;
}

div.subtitle-inside{
	margin: 0 auto;
	width: 472px;
	text-align: center;
	line-height: 18px;
}

.moto{
	position: relative;
	width: 631px;
	margin: 0 auto;
	top: 120px;
}

img.topleft{
	position: absolute;
	top: 0px;
	left: 0px;
}
img.topright{
	position: absolute;
	top: 0px;
	right: 0px;
}
img.gereja{
	position: absolute;
	bottom: 0px;
	right: 200px;
}
img.pura{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
img.borobudur{
	position: absolute;
	bottom: 0px;
	left: 350px;
}
img.klenteng{
	position: absolute;
	bottom: 0px;
	left: 150px;
}
img.masjid{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#search-img{
	position: absolute;
	top: 13px;
	right: 18px;
	cursor: pointer;
}

#bottom{
	width: 100%;
	min-width: 990px;
	position: absolute;
	bottom: 70px;
}

#logo { z-index: 2; bottom: 14px; left: 22px; position: fixed; }
#logo a { padding-left: 75px; background: url("faridiot.png") no-repeat scroll left bottom transparent; text-decoration: none; display: block; }

div.chrome-badge{
	position: absolute;
	top: 0px;
	left: 20px;
}

div.google-badge{
	position: absolute;
	top: 0px;
	left: 180px;
}

div.badge-sep{
	position: absolute;
	top: 14px;
	left: 150px;
	width: 1px;
	height: 30px;
	background-color: #CCC;
}

a img{
	border: none;
}



div.credits{
	position: absolute;
	right: 20px;
	top: 24px;
	color: #666;
	vertical-align: middle;
}

div.credits img{
	position: relative;
	top: 6px;
}

div.credits-inside{
	position: relative;
	text-transform: uppercase;
	vertical-align: right;
}

div.mute-button{
	position: absolute;
	top: 0px;
	right: 0px;
}

img.mute{
	cursor: pointer;
}

#preloading{
	position: relative;
	width: 460px;
	top: 200px;
	margin: 0 auto;
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
	visibility: hidden;
	text-align: center;
}

#launch{
	position: relative;
	width: 460px;
	top: 200px;
	margin: 0 auto;
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
	visibility: hidden;
}

#bg{
	position: absolute;
	top: 0px;
	right: 0px;
}

img.sun{
	position: absolute;
	top: 110px;
	right: 400px;
}

#birdsCanvas{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 960px;
	width: 100%;
}

/**
 * Browser Warnings
 */

#warning{
	text-align: center;
	width: 900px;
	margin: 60px auto 0;
}

#warning p{
	font-size: 14px;
	color: #000;
	line-height: 24px;
}

#warning a, #warning a:visited{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	border-bottom: 2px solid #000;
	padding-bottom: 1px;
}

#warning a:hover{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	border-bottom: 2px solid #000;	
}

.response{
	color: #666;
}

.response .highlight, .response a, .response a:visited, .response a:hover{
	color: #222;
	font-weight: bold;
}

.response a, .response a:visited{
	text-decoration: underline;
}

.response a:hover{
	text-decoration: underline;
}

#help{
	background-color: #FFF;
	width: 220px;
	position: absolute;
	font-weight: bold;
	color: #333;
	padding: 5px;
	border: 2px dashed #999;	
}

input.code{
	background: #FFF;
	border: 1px solid #999;
	margin-right: 10px;
	padding: 2px;
	width: 60px;
	color: #999;
	font-weight: bold;
}

div.viewer{
	width: 100%;
}

div.viewer-inside{
	width: 960px;
	margin: 0 auto;
}

#viewer-top{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 700px;
}

#viewer-canvas{
	position: absolute;
	top: 40px;
	left: 20px;
	width: 700px;
}

#viewer-responses{
	position: absolute;
	top: 40px;
	left: 740px;
	width: 220px;
}

#viewer-responses a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

#viewer-responses a:hover{
	color: #000;
	text-decoration: underline;
}

#viewer-bottom{
	position: absolute;
	top: 560px;
	left: 20px;
	width: 700px;
}

#viewer-feedback{
	position: absolute;
	top: 590px;
	left: 20px;
	width: 700px;
}

#shareVideo{
	width: 100%;
	text-align: center;
	margin: 35px auto 0;
}

#shareVideo p{
	margin: 0;
	margin-bottom: 5px;
}

#shareVideo input{
	background: transparent;
	background: url(share-video.png) no-repeat;
	width: 262px;
	height: 28px;

	padding: 0 5px;
	margin: 0;
	border: none;
	color: #666;
}

#shareVideo input:focus{
	outline: none;
}

#tipText{
	margin-top: 20px;
	color: #8C8C8C;
}

#blocker{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 999; 
	background-color: #000; 
	filter: alpha(opacity=0); 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
	-moz-opacity: 0; 
	opacity:0; 
	visibility: hidden;
}

input.button{ font-size: 11px; font-family: 'Courier'; color: #FFF; background: #000; border-radius: 3px; -moz-border-radius: 3px; padding: 4px 10px 3px; text-transform: uppercase; border: none; cursor: pointer; }

input.reset{ color: #333; font-family: Courier; background: transparent; padding: 4px 0px 3px; font-size: 12px; float: right; margin-right: 10px; margin-top: 12px; letter-spacing:1px; font-weight: 500;}

/* popup warning */

#popup-warning {
	position: absolute;
	left: 0px;
	top: -40px;
	width: 100%;
	min-width: 640px;
	background: #F5B938;
	text-align: center;
	border-bottom: 1px dashed #333;
	color: #333;
	padding: 8px;
	font-weight: bold;
	z-index: 1999;

	-webkit-transition: top 1s ease-out;
}

#popup-warning img {
	vertical-align: middle;
}