#todoapp{
	font: 14px sans-serif;
	text-align: center;
    margin-top: 0px;
}

.options{
  margin-top: 50px;
}

#todoapp ul {
	list-style-type: none;
}
#todo-list input.edit {
	display: none; /* Hides input box*/
}
#todo-list .editing label {
	display: none; /*Hides label text when editing*/
}    
#todo-list .editing input.edit {
	display: inline; /* Shows input text box when editing*/
}  

.tt-dataset-tasks{ /*dropdown menu*/
	background-color:white;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 0px;
	width:260px;
}

.typeahead,
.tt-query,
.tt-hint {
	width: 260px;
	height: 30px;
	padding: 8px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 0px;
	outline: none;
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}
