    body {
        background: #000000;
        margin:0 auto;
        overflow: hidden;
        z-index: 1;c
        line-height:20px;
        }

		a:link,a:visited,a:hover{color:inherit;}
		p{margin:0 0 20px 0;}
		hr{height:0; border:none; border-bottom:1px solid rgba(255,255,255,0.13); border-top:1px solid rgba(0,0,0,1); margin:9px 15px 10 -10px; clear:both;}
		.content{margin:0px; width:101%; height:400px; padding:20px -20px 0px -20px; overflow:auto; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
		.content p:nth-child(even){}
		.content p:nth-child(3n+0){}

.wall{
    position:fixed;
    top:0;left:0;right:0;
    bottom:0;
    z-index:150;
    
}

.bgblack{
background: rgb(0,0,0);
opacity: 0.9;
}

.hBig{
    color:#FFF;
    text-shadow:3px 2px 6px rgba(0,0,0,0.3);
    font-size:3em;
    text-align:center;
    line-height:1em;
    cursor:pointer;
    margin-top: 0px;
    -webkit-transition:font .1s ease-in-out;
    -moz-transition:font .1s ease-in-out;
    -ms-transition:font .1s ease-in-out;
    -o-transition:font .1s ease-in-out;
    transition:font .1s ease-in-out;
}

.hBig2{
    color:#FFF;
    text-shadow:3px 2px 6px rgba(0,0,0,0.3);
    font-size:1em;
    text-align:center;
    line-height:1em;
    cursor:pointer;
    margin-top: 0px;
    -webkit-transition:font .1s ease-in-out;
    -moz-transition:font .1s ease-in-out;
    -ms-transition:font .1s ease-in-out;
    -o-transition:font .1s ease-in-out;
    transition:font .1s ease-in-out;
}

    .spinner {
      margin: 10% auto 0px auto;
      width: 100px;
      height: 100px;
      position: relative;
      text-align: center;
      
      -webkit-animation: rotate 2.0s infinite linear;
      animation: rotate 2.0s infinite linear;
    }

    .dot1, .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #FFFFFF;
      border-radius: 100%;
      
      -webkit-animation: bounce 2.0s infinite ease-in-out;
      animation: bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
    @keyframes rotate { 
      100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }


    #gear1 {
        position: fixed;
        width: 625px;
        height: 617px;
        bottom: -200px;
        left: -300px;
        background: transparent url(../img/gear1.png) 0 0px no-repeat;
        opacity: 5;
        z-index: 1;
        }
		
    #gear2 {
        position: fixed;
        width: 1250px;
        height: 1234px;
        top: -500px;
        right: -800px;
        background: transparent url(../img/gear2.png) 0 0px no-repeat;
        z-index: 1;
        }

	#kuburan {
        position: fixed;
        width: 100%;
        height: 200%;
        top: -150px;
        left: 0px;
        background: transparent url(../img/kuburan.png) 0 0px no-repeat;
        z-index: 2;
        }

		
	#lampu {
        position: fixed;
        width: 300px;
        height: 526px;
        bottom: 10px;
        right: 100px;
        background: transparent url(../img/lampu.png) 0 0px no-repeat;
        z-index: 2;
        }

		#langit {
		  position:absolute;
		  width:100%;
		  height: 100%;
		  background: transparent url(../img/langit.jpg) 0 0px repeat-x; 
          z-index: 2;
		}
		
		#malioboro1 {
			position: absolute;
			width: 100%; 
			height: 616px;
            bottom: 70px;
			background: transparent url(../img/malioboro_1.png) 0 135px repeat-x; 
            z-index: 3;
		}

		#malioboro2 {
			position: absolute;
			width: 100%; 
			height: 616px;
            bottom:  0;
			background: transparent url(../img/malioboro_2.png) 0 135px repeat-x;
            z-index: 4;
		}
		
		#transjogja {
			position: absolute;
			width: 625px;
			height: 273px;
            bottom:  200px;
			background: transparent url(../img/bus_anim2.png) 10px 0px no-repeat;
            z-index: 3;
		}
		
		#dokar {
			position: absolute;
			width: 712px;
			height: 404px;
            bottom:  10px;
			background: transparent url(../img/dokar_anim2.png) 10px 0px no-repeat;
            z-index: 5;
		}

		
    container {
        z-index: 20;
        }

    container2 {
        position: fixed;
        z-index: 200;
        }
    
        #logo { z-index: 6; bottom: 14px; left: 22px; position: fixed; }
        #logo a { z-index: 6; padding-left: 75px; padding-bottom: 2px; padding-top: 4px; background: url("../img/logo.png") no-repeat scroll left bottom transparent; text-decoration: none; display: block; }
    
    .modal-title {
        margin-left: 10px;
        color: #999999;
        }
    
    .modal-content {
        background-color: #444444;
        }
    
    .panel-default {
        border-color: #888888;
        }

    .panel-default > .panel-heading {
        color: #999999;
        background-color: #333333;
        border-color: #555555;
        }

    .panel-default > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #888888;
        background-color: #111111;
        color: 888888;
        }

    .panel-default > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #999999;
        }

    .btn-primary {
        color: #999999;
        background-color: #222222;
        border-color: #111111;
        }
    
    .btn-default {
        color: #999999;
        background-color: #333333;
        border-color: #222222;
        }
    
@font-face {
	font-family: 'ecoico';
	src:url('../fonts/ecoico.eot');
	src:url('../fonts/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoico.woff') format('woff'),
		url('../fonts/ecoico.ttf') format('truetype'),
		url('../fonts/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mb_menu{
	position:fixed;
	top:50px;
	left:0px;
	z-index:11;
}
.mb_menu a{
	background-color:#111111;
	text-decoration:none;
	margin-bottom:2px;
	opacity:0.9;
	display:block;
	width:98px;
	height:98px;
	color:#fff;
	line-height:98px;
	text-align:center;
	text-transform:uppercase;
	outline:none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-transition: all 0.2s ease-in;
}
.mb_menu a:hover{
	color:#000;
	background-color:#fff;
}
    
/*faridiot*/
@media screen and (max-height: 34.9375em) { 

	.mb_menu {
		font-size: 80%;
	}
    .mb_menu a{
	width:88px;
	height:88px;
}
}

@media screen and (max-height: 30.9375em) { 

	.mb_menu {
		font-size: 58%;
	}
    .mb_menu a{
	width:58px;
	height:58px;
}
}

.mb_content_wrapper{
	background:transparent url(../images/bg_menu.png) repeat top left;
	width:400px;
	height:400px;
	position:absolute;
	top:154px;
	left:200px;
	z-index:4;
	display:none;
}
span.mb_close{
	position:absolute;
	top:10px;
	right:10px;
	width:11px;
	height:12px;
	cursor:pointer;
	background:transparent url(../images/close.png) no-repeat top left;
	opacity:0.8;
}
span.mb_close:hover{
	opacity:1.0;
}
.mb_content{
	padding:30px;
	display:none;
}
.mb_content h2{
	font-family:"Astloch";
	text-shadow:0px 0px 1px #fff;
	font-size:42px;
	background:transparent url(../images/line.png) repeat-x bottom left;
	padding:0px 0px 5px 0px;
	margin-bottom:10px;
}
.mb_content_inner{
	line-height:24px;
	height:268px;
	outline: none;
}
.mb_content_inner p{
	padding:5px 0px;
}
ul.mb_imagelist li{
	float:left;
	margin:2px;
	cursor:pointer;
}
ul.mb_imagelist li img{
	display:block;
	opacity:0.3;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-transition: all 0.5s ease-in-out;
}
ul.mb_imagelist li img:hover{
	opacity:1.0;
}
.mb_content form label{
	float:left;
	width:100px;
	text-align:right;
	margin-right:10px;
}
.mb_content form div{
	padding:5px 0px;
}
.mb_content form input,
.mb_content form textarea{
	border:none;
	background:#fff;
	width:200px;
	font-family:Arial;
	color:#555;
	padding:4px;
}
.mb_content form textarea{
	height:140px;
}
button{
	background:#ddd;
	border:none;
	color:#000;
	padding:3px 10px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	cursor:pointer;
	float:right;
	margin-right:22px;
}
button:hover{
	background:#fff;
}
.mb_footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
	text-transform:uppercase;
	z-index:4;
}
.mb_footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.mb_footer a:hover{
	color:#fff;
	opacity:9;
}
.mb_footer a span{
	font-weight:bold;
}
.mb_footer a.mb_left{
	float:left;
}

		.modalDialog {
		position: fixed;
		font-family: 'Duru Sans', sans-serif;
		color: 000000;
        font-size: 48px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.9);
		z-index: 10;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
		}
		
		.modalDialog:target {
		opacity:9;
		pointer-events: auto;
		}

		.modalDialog > div {
		font-family: 'Duru Sans', sans-serif;
        font-size: 20px;
		color:ffffff;
		width: 50%;
		position: relative;
		margin: 10% auto;
		margin-right: 20px;
		margin-left: 125px;
		margin-top: 50px;
		height: 85%;
		padding: 5px 20px 15px 45px;
		border-radius: 1px;
		background: rgba(0,0,0,0.7);
		background: -moz-linear-gradient(#000000, #111111,);
		background: -webkit-linear-gradient(#000000, #111111);
		background: -o-linear-gradient(#000000, #111111);
		}
		
		.close {
		background: #111111;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: 25px;
		text-align: center;
		top: 30px;
		width: 25px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
		}

		.close:hover { background: #777777; }
