		#pesawat {
			position: absolute;
			width: 1768px;
			height: 473px;
            bottom:  200px;
			background: transparent url(../img/pesawat.png) 10px 0px no-repeat;
            z-index: 300;
		}
		
.cloud1 {
    background-image:url(../img/rumput1.png);
    background-repeat:repeat-x;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_down_back 80s linear infinite;
    -moz-animation:cloud_down_back 80s linear infinite;
    -o-animation:cloud_down_back 80s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.cloud2 {
    background-image:url(../img/rumput3.png);
    background-repeat:repeat-x;
    position:absolute;
    background-position:-350px 0px;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_down_middle 60s linear infinite;
    -moz-animation:cloud_down_middle 60s linear infinite;
    -o-animation:cloud_down_middle 60s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
		
#logo { z-index: 31; bottom: 14px; left: 22px; position: fixed; }
#logo a { padding-left: 75px; padding-bottom: 2px; padding-top: 4px; background: url("../img/logo.png") no-repeat scroll left bottom transparent; text-decoration: none; display: block; }

.dark{
    color: #666666;
}
.opacity {
    opacity: 0.5;
}

/*------------- FONTS --------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Chicle);

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:2;
    overflow:hidden;
}

/*-------------- BGBOX ------------------------------------------*/
.bgbox{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:3;
}
.bgbox #bgback{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:4;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    -ms-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}
.bgbox #bgfront{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:5;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    -ms-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}
.cloud_up{
    position:absolute;
    top:-20px;left:0;right:0;height:77px;
    z-index:50;
}
.cloud_up section{
    z-index:50;
}
.cloud_down{
    position:absolute;
    left:0;right:0;bottom:0;height:67px;
    z-index:51;
}
.cloud_down section{
    z-index:51;
}

.rain1{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANElEQVQYV2NkIBIwEqmOYQAU/v///wwjI6MJXqthikD+wKkQWRFOheiKsCrEpgiv1ejhCwDEsxQL9a9BaQAAAABJRU5ErkJggg==);
    background-repeat:repeat;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:15;
    opacity:0;
    -webkit-animation:rain_one 0.5s linear infinite;
    -moz-animation:rain_one 3s linear infinite;
    -o-animation:rain_one 3s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
.rain2{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV2NkIBIwYlP3////M4yMjCbIchgKsSkCaUBRiEsRikJ8iuAKCSnCsBpfAGD1NTYN1FcIAFFYFAt8iHo1AAAAAElFTkSuQmCC);
    background-repeat:repeat;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:15;
    -webkit-animation:rain_two 0.5s linear infinite;
    -moz-animation:rain_two 3s linear infinite;
    -o-animation:rain_two 3s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.windows{
    position:fixed;
    width:1500px;
	left:-0px;
	height:auto;
    z-index:20;
}

.pohon1{
    position:fixed;
    bottom:0;
	left:-300px;
	height:70%;
    z-index:11;
}
.pohon2{
    position:fixed;
    bottom:0;
	left:-20px;
	height:80%;
    z-index:11;
}
.pohon3{
    position:fixed;
    bottom:0;
	right:-20px;
	height:100%;
    z-index:11;
}.pohon4{
    position:fixed;
    bottom:0;
	right:-200px;
	height:80%;
    z-index:11;
}

/*-------------- HEADER ----------------------------------------*/
header{
    position:fixed;
    top:0;left:0;right:0;
    height:40px;
    z-index:90;
    border-bottom:2px rgba(255,255,255,0.8) solid;
}

/*------------- WRAP -------------------------------------------*/
.wrap{
    position:absolute;
    top:20px;left:0;right:0;
    z-index:20;

}
.wrap > .row-fluid:not(.landing){
    display:none;
}

.attract{
    border-top:2px rgba(230,230,230,1) solid;
    border-bottom:2px rgba(230,230,230,1) solid;
    display:block;
    clear:both;
    height:380px;
    width:100%;
    position:absolute;
    top:2px;
    left:0;right:0;
    background-position:0px -10px;
}
.person h1{
    color:#FFF;
    text-shadow:1px 1px 3px rgba(0,0,0,0.1);
}

.hBig{
    color:#FFF;
    text-shadow:3px 2px 6px rgba(0,0,0,0.3);
    font-size:7em;
    text-align:center;
    line-height:1em;
    cursor:pointer;
    margin-top:6%;
    font-family: 'Chicle', cursive;
    -webkit-transition:font .1s ease-in-out;
    -moz-transition:font .1s ease-in-out;
    -ms-transition:font .1s ease-in-out;
    -o-transition:font .1s ease-in-out;
    transition:font .1s ease-in-out;
}
.hBig:hover{
    font-size:8em;   
}


.choiceBox{
    position:fixed;
    left:20%;right:20%;bottom:10%;
    z-index:31;
    width:60%;
}

.choiceBox > section >h1{
    color:rgba(255,255,255,1);
    font-size:3em;
    margin-bottom:20px;
    cursor:pointer;
    font-family: 'Chicle', cursive;
    text-shadow:3px 3px 5px rgba(0,0,0,0.2);
    -webkit-transition:font .1s ease-in-out;
    -moz-transition:font .1s ease-in-out;
    -ms-transition:font .1s ease-in-out;
    -o-transition:font .1s ease-in-out;
    transition:font .1s ease-in-out;
}
.choiceBox > section >h1:hover{
    font-size:3.5em;
}

.salju{
    position:absolute;
    bottom:15px;right:155px;
    z-index:55;
}
.topButtonL{
    position:absolute;
    bottom:15px;right:235px;
    z-index:55;
}

.contentBox{
    margin-top:5%;
    margin-bottom:1%;
    min-height:120px;
    
    
}

.trans{
    background-color:rgba(245,245,245,0.8);
}


.carousel-inner img{
    width:100%;
}

.boxShadowIn img{
    box-shadow:inset 0px 0px 5px 2px rgba(0,0,0,0.2);
}
.borderRadius4 img{
    border-radius:4px;
}

::-webkit-scrollbar{width:8px;height:80%;box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-track{background-color:rgba(240,240,240,0.4);}
::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,0.8);height:5%;}

.social{
    position:fixed;
    z-index:56;
    display:block;
    float:left;
    bottom:30px;
    right:10px;
    height:auto;
    width:auto;
    overflow:auto;
}

.social li{
    display:block;
    float:left;
    margin-right:8px;
    opacity:0.6;
    width:auto;
    height:auto;
    -webkit-transition:opacity .2s ease-in-out;
    -moz-transition:opacity .2s ease-in-out;
    -ms-transition:opacity .2s ease-in-out;
    -o-transition:opacity .2s ease-in-out;
    transition:opacity .2s ease-in-out;
}
.social li:hover{
    opacity:0.9;
}
.social li a{
    width:inherit;
    height:inherit;
    display:block;
}
.social li.fb .fb-img{
    width:30px;
    height:30px;
    background-image:url('../img/fb-active.png');
    background-size:contain;
}
.social li.twitter .twitter-img{
    width:30px;
    height:30px;
    background-image:url('../img/twitter-active.png');
    background-size:contain;
}
.social li.gplus .gplus-img{
    width:30px;
    height:30px;
    background-image:url('../img/gplus-active.png');
    background-size:contain;
}


.tentang,.portfolio,.members,.video{
   overflow-y:hidden;
   overflow-x:hidden;

}


/*------------- SIDEBAR -------------------------------------------*/


.logo{
    position:absolute;
    top:10px;
    left:20px;
    z-index:20;
    -webkit-animation:logo_swing 3s cubic-bezier(0.73,0.04,0.37,0.88) infinite;
    -moz-animation:logo_swing 3s cubic-bezier(0.73,0.04,0.37,0.88) infinite;
    -o-animation:logo_swing 3s cubic-bezier(0.73,0.04,0.37,0.88) infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}


.progress-home{
    position:absolute;
    bottom:120px;
    left:0;right:0;
    height:60px;
    border-radius:0;
    z-index:20;
    background:none;
    background-color:rgba(255,255,255,0.2);
    box-shadow:0px 0px 8px 4px rgba(0,0,0,0.3);
}
.progress-home .bar{
    height:100%;
    background-size:60px 60px;
}







/*------------- Footer -------------------------------------------*/
footer{
    position:fixed;
    bottom:0;
    left:0;right:0;
    height:70px;
    z-index:70;
}


ul.bgoptions{
    position:fixed;
    bottom:5px;
    right:10px;
    z-index:70;
    overflow:auto;
    width:auto;
    height:auto;
    padding-top:4px;
    padding-bottom:4px;
}
ul.bgoptions li{
    display:block;
    float:left;
    width:16px;
    height:16px;
    box-shadow:0px 0px 3px 1px rgba(0,0,0,0.15);
    margin-left:8px;
    cursor:pointer;
    -webkit-transition:box-shadow .2s ease-in-out;
    -moz-transition:box-shadow .2s ease-in-out;
    -o-transition:box-shadow .2s ease-in-out;
    -ms-transition:box-shadow .2s ease-in-out;
    transition:box-shadow .2s ease-in-out;
}
ul.bgoptions li:hover{
    box-shadow:0px 0px 4px 4px rgba(0,0,0,0.4);
}
/*------------- CAROUSEL -------------------------------------------*/

#carousel-slider{
    height:340px;
    width:70%;
    margin:auto;
    overflow:hidden;
    margin-top:20px;
    margin-bottom:20px;

}
#carousel-slider img{
    height:100%;
    width:100%;
    border-radius:5px;
}
#carousel-slider .item{
    border-radius:5px;
    height:inherit;
    width:inherit;
}




/*----------- COMMON CLASSES ------------------------------------ */
.bsCenter{
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
}
.bsCenterBig{
    box-shadow:0px 3px 20px 8px rgba(0,0,0,0.5);
}
.bsDown{
    box-shadow:0px 3px 10px 0px rgba(0,0,0,0.2);
}
.bsInside{
    box-shadow:inset 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.noBR{
    border-radius:0;
}
.noBG{
    background:none;
}
.tCenter{
    text-align:center;
}
.tRight{
    text-align:right;
}
.borbox{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

.uPSmall img{
    width:32px;
    height:32px;
    margin-top:3px;
    border:1px rgba(245,245,245,1) solid;
    border-radius:1px;
    
}
#canvas-bg{
    position:absolute;
    top:10%;left:0;right:0;
    width:400px;
    height:400px;
    z-index:3;
}
/*--------- BACKGROUNDS _--------------------------------------- */
.wall{
    position:fixed;
    top:0;left:0;right:0;
    bottom:0;
    z-index:150;
    
}

.overlay{
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    z-index:15;
    background-color:rgba(0,0,0,0.05);
}
.backlay{
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    z-index:12;
    
    background-image: url('../img/snow.png'), url('../img/snow3.png'), url('../img/snow2.png');
    
    -webkit-animation: snowfall 20s linear infinite;
    -moz-animation: snowfall 20s linear infinite;
    -ms-animation: snowfall 20s linear infinite;
    animation: snowfall 20s linear infinite;
    -o-animation: snowfall 20s linear infinite;
}




.bgpurple{
background: rgb(229,112,231);
background: -moz-linear-gradient(top,  rgba(229,112,231,1) 0%, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,112,231,1)), color-stop(47%,rgba(200,94,199,1)), color-stop(100%,rgba(168,73,163,1)));
background: -webkit-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);
background: -o-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);
background: -ms-linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);
background: linear-gradient(top,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );

}

.bgred{
background: rgb(169,3,41);
background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );

}
.bggreen{
    background: rgb(210,255,82);
background: -moz-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 );

}
.bgblue{
    background: rgb(135,224,253);
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 );
}

.bgblue2{
background: rgb(254,255,255);
background: -moz-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 );

}
.bgblue3{
    background: rgb(197,222,234);
background: -moz-radial-gradient(center, ellipse cover,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 );

}
.bgwhite{
    background: rgb(255,255,255);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );

}
.bgyellow{
background: rgb(255,214,94);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 );

}

.bgblack{
background: rgb(40,40,40);
background: -moz-radial-gradient(center, ellipse cover,  rgba(40,40,40,1) 0%, rgba(25,25,25,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(40,40,40,1)), color-stop(100%,rgba(25,25,25,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(40,40,40,1) 0%,rgba(25,25,25,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(40,40,40,1) 0%,rgba(25,25,25,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(40,40,40,1) 0%,rgba(25,25,25,1) 100%);
background: radial-gradient(center, ellipse cover,  rgba(40,40,40,1) 0%,rgba(25,25,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#191919',GradientType=1 );

}

.gray{
    background-color:rgba(247,247,247,1);
}
.black{
    background-color:rgba(240,240,240,1);
}
.black30{
    background-color:rgba(0,0,0,0.3);
}

.bgired{
    background-image:url('../img/bgred.jpg');
}


.vertical-white{
background: rgb(252,252,252);
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(239,239,239,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(239,239,239,1)));
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 );
}


.bgCover{background-size:cover;}
.bgContain{background-size:contain;}
.bgFullXY{background-size:100% 100%;}
.bgFullX{background-size:100% auto;}
.bgFullY{background-size:auto 100%;}


/*---------------- CSS3 Clouds -----------------------------------------*/


.cloud1 {
    background-image:url(../img/rumput1.png);
    background-repeat:repeat-x;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_down_back 80s linear infinite;
    -moz-animation:cloud_down_back 80s linear infinite;
    -o-animation:cloud_down_back 80s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.cloud2 {
    background-image:url(../img/rumput3.png);
    background-repeat:repeat-x;
    position:absolute;
    background-position:-350px 0px;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_down_middle 60s linear infinite;
    -moz-animation:cloud_down_middle 60s linear infinite;
    -o-animation:cloud_down_middle 60s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.cloud3 {
    background-image:url(../img/rumput2.png);
    background-repeat:repeat-x;
    position:absolute;
    background-position:350px 0px;
    left:0;
    top:0;
    height:100%;
    width:300%;
    -webkit-animation:cloud_down_front 40s linear infinite;
    -moz-animation:cloud_down_front 40s linear infinite;
    -o-animation:cloud_down_front 40s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}


.poconggg {
    z-index: 100;
}

.gwd-img-mz0c {
  position: absolute;
  width: 220px;
  height: 500px;
  left: 70px;
  top: 174px;
}

.gwd-gen-onuugwdanimation {
  -webkit-animation: gwd-gen-onuugwdanimation_animation 2s linear 0s infinite forwards;
  -moz-animation: gwd-gen-onuugwdanimation_animation 2s linear 0s infinite forwards;
  animation: gwd-gen-onuugwdanimation_animation 2s linear 0s infinite forwards;
}

@-webkit-keyframes gwd-gen-onuugwdanimation_animation {
  0% { -webkit-animation-timing-function: linear; left: 70px; top: 174px; }
  50% { -webkit-animation-timing-function: linear; left: 71px; top: 131px; }
  100% { -webkit-animation-timing-function: linear; left: 71px; top: 184px; }
}
@-moz-keyframes gwd-gen-onuugwdanimation_animation {
  0% { -moz-animation-timing-function: linear; left: 70px; top: 174px; }
  50% { -moz-animation-timing-function: linear; left: 71px; top: 131px; }
  100% { -moz-animation-timing-function: linear; left: 71px; top: 184px; }
}
@keyframes gwd-gen-onuugwdanimation_animation {
  0% { animation-timing-function: linear; left: 70px; top: 174px; }
  50% { animation-timing-function: linear; left: 71px; top: 131px; }
  100% { animation-timing-function: linear; left: 71px; top: 184px; }
}
.gwd-gen-onuugwdanimation-gen-animation0keyframe {
  left: 70px;
  top: 174px;
}

@-webkit-keyframes cloud_down_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-webkit-keyframes cloud_down_middle {
    0% {left:-200%;}
    100% {left:0;}
}
@-webkit-keyframes cloud_down_front {
    0% {left:0;}
    100% {left:-200%;}
}
@-webkit-keyframes cloud_up_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-webkit-keyframes cloud_up_middle {
    0% {left:-200%;}
    100% {left:0;}
}
@-webkit-keyframes cloud_up_front {
    0% {left:0;}
    100% {left:-200%;}
}


@-moz-keyframes cloud_down_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-moz-keyframes cloud_down_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-moz-keyframes cloud_down_front {
    0% {left:0;}
    100% {left:-200%;}
}
@-moz-keyframes cloud_up_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-moz-keyframes cloud_up_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-moz-keyframes cloud_up_front {
    0% {left:0;}
    100% {left:-200%;}
}






@-ms-keyframes cloud_down_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-ms-keyframes cloud_down_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-ms-keyframes cloud_down_front {
    0% {left:0;}
    100% {left:-200%;}
}
@-ms-keyframes cloud_up_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-ms-keyframes cloud_up_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-ms-keyframes cloud_up_front {
    0% {left:0;}
    100% {left:-200%;}
}





@-o-keyframes cloud_down_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-o-keyframes cloud_down_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-o-keyframes cloud_down_front {
    0% {left:0;}
    100% {left:-200%;}
}
@-o-keyframes cloud_up_back {
    0% {left:0;}
    100% {left:-200%;}
}
@-o-keyframes cloud_up_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@-o-keyframes cloud_up_front {
    0% {left:0;}
    100% {left:-200%;}
}



@keyframes cloud_down_back {
    0% {left:0;}
    100% {left:-200%;}
}
@keyframes cloud_down_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@keyframes cloud_down_front {
    0% {left:0;}
    100% {left:-200%;}
}
@keyframes cloud_up_back {
    0% {left:0;}
    100% {left:-200%;}
}
@keyframes cloud_up_middle {
    0% {left:0;}
    100% {left:-200%;}
}
@keyframes cloud_up_front {
    0% {left:0;}
    100% {left:-200%;}
}



/*----------------------- LOGO ---------------------------------- */

@-webkit-keyframes logo_swing {
    0% {-webkit-transform:rotate(20deg);}
    50%{-webkit-transform:rotate(-20deg);}
    100% {-webkit-transform:rotate(20deg);}
}

@-moz-keyframes logo_swing {
    0% {-moz-transform:rotate(20deg);}
    50%{-moz-transform:rotate(-20deg);}
    100% {-moz-transform:rotate(20deg);}
}
@-ms-keyframes logo_swing {
    0% {-ms-transform:rotate(20deg);}
    50%{-ms-transform:rotate(-20deg);}
    100% {-ms-transform:rotate(20deg);}
}
@-o-keyframes logo_swing {
    0% {-o-transform:rotate(20deg);}
    50%{-o-transform:rotate(-20deg);}
    100% {-o-transform:rotate(20deg);}
}
@keyframes logo_swing {
    0% {transform:rotate(20deg);}
    50%{transform:rotate(-20deg);}
    100% {transform:rotate(20deg);}
}



/*----------------------- RAIN ---------------------------------- */

@-webkit-keyframes rain_one {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes rain_two {
    0% {opacity:1;}
    100% {opacity:0;}
}


/*-------------- BOUNCE-IN-DOWN------------------------------------ */

@-webkit-keyframes bounce_in_down {
    0% {opacity: 0;-webkit-transform: translateY(-2000px);}
    60% {opacity: 1;-webkit-transform: translateY(30px);}
    80% {-webkit-transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes bounce_in_down {
    0% {opacity: 0;-moz-transform: translateY(-2000px);}
    60% {opacity: 1;-moz-transform: translateY(30px);}
    80% {-moz-transform: translateY(-10px);}
    100% {-moz-transform: translateY(0);}
}

@-ms-keyframes bounce_in_down {
    0% {opacity: 0;-ms-transform: translateY(-2000px);}
    60% {opacity: 1;-ms-transform: translateY(30px);}
    80% {-ms-transform: translateY(-10px);}
    100% {-ms-transform: translateY(0);}
}

@-o-keyframes bounce_in_down {
    0% {opacity: 0;-o-transform: translateY(-2000px);}
    60% {opacity: 1;-o-transform: translateY(30px);}
    80% {-o-transform: translateY(-10px);}
    100% {-o-transform: translateY(0);}
}

@keyframes bounce_in_down {
    0% {opacity: 0;transform: translateY(-2000px);}
    60% {opacity: 1;transform: translateY(30px);}
    80% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.bounce_in_down {
    -webkit-animation-name: bounce_in_down;
    -moz-animation-name: bounce_in_down;
    -ms-animation-name: bounce_in_down;
    -o-animation-name: bounce_in_down;
    animation-name: bounce_in_down;
}
.bounce_in_down_active{
    -webkit-animation-timing: linear;
    -moz-animation-timing: linear;
    -ms-animation-timing: linear;
    -o-animation-timing: linear;
    animation-timing: linear;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}





/*------------- BROKEN DOWN ---------------------- */
@-webkit-keyframes broken_down {
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }    
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }  
    40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }   
    80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    100% { -webkit-transform: translateY(700px); opacity: 0; }
}

@-moz-keyframes broken_down {
    0% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; } 
    20%, 60% { -moz-transform: rotate(80deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }   
    40% { -moz-transform: rotate(60deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }    
    80% { -moz-transform: rotate(60deg) translateY(0); opacity: 1; -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }  
    100% { -moz-transform: translateY(700px); opacity: 0; }
}

@-ms-keyframes broken_down {
    0% { -ms-transform: rotate(0); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }    
    20%, 60% { -ms-transform: rotate(80deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }  
    40% { -ms-transform: rotate(60deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }   
    80% { -ms-transform: rotate(60deg) translateY(0); opacity: 1; -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; } 
    100% { -ms-transform: translateY(700px); opacity: 0; }
}

@-o-keyframes broken_down {
    0% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }   
    20%, 60% { -o-transform: rotate(80deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; } 
    40% { -o-transform: rotate(60deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }  
    80% { -o-transform: rotate(60deg) translateY(0); opacity: 1; -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }    
    100% { -o-transform: translateY(700px); opacity: 0; }
}

@keyframes broken_down {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }    
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }   
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px); opacity: 0; }
}

.broken_down {
    -webkit-animation-name: broken_down;
    -moz-animation-name: broken_down;
    -ms-animation-name: broken_down;
    -o-animation-name: broken_down;
    animation-name: broken_down;
}

.broken_down_active{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}





/* SNOW ANIMATIONS            */
@keyframes snowfall {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snowfall {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snowfall {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snowfall {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-o-keyframes snowfall {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

/*faridiot*/

.mb_menu{
	position:absolute;
	top:50px;
	left:0px;
	z-index:1000;
}
.mb_menu a{
	background-color:rgb(100,150,253);
	text-decoration:none;
	margin-bottom:2px;
	opacity:0.9;
	display:block;
	width:98px;
	height:98px;
	color:#fff;
	line-height:98px;
	text-align:center;
	text-transform:uppercase;
	outline:none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-transition: all 0.2s ease-in;
}
.mb_menu a:hover{
	color:#000;
	background-color:#fff;
}
span.mb_close:hover{
	opacity:1.0;
}
.mb_content{
	padding:30px;
	display:none;
}
.mb_content h2{
	font-family:"Astloch";
	text-shadow:0px 0px 1px #fff;
	font-size:42px;
	background:transparent url(../images/line.png) repeat-x bottom left;
	padding:0px 0px 5px 0px;
	margin-bottom:10px;
}
.mb_content_inner{
	line-height:24px;
	height:268px;
	outline: none;
}
.mb_content_inner p{
	padding:5px 0px;
}
ul.mb_imagelist li{
	float:left;
	margin:2px;
	cursor:pointer;
}
ul.mb_imagelist li img{
	display:block;
	opacity:0.3;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-transition: all 0.5s ease-in-out;
}
ul.mb_imagelist li img:hover{
	opacity:1.0;
}
.mb_content form label{
	float:left;
	width:100px;
	text-align:right;
	margin-right:10px;
}
.mb_content form div{
	padding:5px 0px;
}
.mb_content form input,
.mb_content form textarea{
	border:none;
	background:#fff;
	width:200px;
	font-family:Arial;
	color:#555;
	padding:4px;
}
.mb_content form textarea{
	height:140px;
}
button{
	background:#ddd;
	border:none;
	color:#000;
	padding:3px 10px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	cursor:pointer;
	float:right;
	margin-right:22px;
}
button:hover{
	background:#fff;
}
.mb_footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
	text-transform:uppercase;
	z-index:4;
}
.mb_footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.mb_footer a:hover{
	color:#fff;
	opacity:9;
}
.mb_footer a span{
	font-weight:bold;
}
.mb_footer a.mb_left{
	float:left;
}

		.modalDialog {
		position: fixed;
		font-family: 'Duru Sans', sans-serif;
		color: 000000;
        font-size: 48px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.9);
		z-index: 999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
		}
		
		.modalDialog:target {
		opacity:9;
		pointer-events: auto;
		}

		.modalDialog > div {
		font-family: 'Duru Sans', sans-serif;
        font-size: 20px;
		color:000000;
		width: 50%;
		position: relative;
		margin: 10% auto;
		margin-right: 20px;
		margin-left: 125px;
		margin-top: 50px;
		height: 85%;
		padding: 5px 20px 15px 45px;
		border-radius: 1px;
		background: rgba(0,0,0,0.7);
		background: -moz-linear-gradient(#fff, #999,);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
		}
		
		.close {
		background: #111111;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: 25px;
		text-align: center;
		top: 30px;
		width: 25px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
		}

		.close:hover { background: #777777; }

