@charset "utf-8";

.wrapper-landscape{
	width:960px;
	margin:auto;
}


.wrapper{
	padding-top:50px;
	width:960px;
	margin:auto;
}

.iphone-portrait{
	margin-left:280px;	
}

.go-landscape{
	position:absolute;
	margin-left:670px;
	margin-top:250px;
}

.go-portrait{
	z-index:999999;
	position:absolute;
	margin-top:100px;
	margin-left:300px;
}


*{
	border:0px;
	padding:0px;
	margin:0px;
}

.iphone-landscape{
	position:absolute;
	padding-left:100px;
	padding-top:200px;
	z-index:999;
}

.iphone-landscape-frame{
	position:absolute;
	z-index:9999;
	margin-top:-357px;
	margin-left:132px;
}

.hide-scroll-2{
	background-image:url(fixscroll-2.png);
	width:133px;
	height:385px;
	position:absolute;
	margin-top:-390px;
	margin-left:620px;
	z-index:99999;
}

.hide-scroll-3{
	background-image:url(fixscroll-3.png);
	width:612px;
	height:27px;
	position:absolute;
	margin-top:-32px;
	margin-left:8px;
	z-index:99999;
}


body{
	background-image:url(bright_squares.png);
	background-repeat:repeat;
}


.hide-scroll{
	background-image:url(fixscroll.png);
	position:absolute;
	height:734px;
	width:26px;
	margin-left:360px;
	margin-top:11px;
	z-index:99999;
}

.iphone{
	position:absolute;
	z-index:999;
	margin-left:33px;
	margin-top:133px;
}

.iphone-pic{
	position:absolute;
}
