@import "compass/css3";

/*  
@mixin cover-background ()
Creates a full width background image on an element. 

-Parameters:
--Required:
$img-uri: URI of image you want to use as the background 

--Optional:
$background-top:  Defaults to "center - sets the "top" value of the background position
$background-left: Defaults to "center - sets the "left" value of the background position.
$background-attachment: Defaults to "fixed" - allows you to specify background attachment.

*/
@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

html { 
	@include cover-background('https://s3-us-west-2.amazonaws.com/s.cdpn.io/44303/GODZILLA-NEO-WALLPAPER.jpg');
}


/* Simple stuff for the demo text. */
* {
  box-sizing:border-box;
}
.info {
  width:100%;
  max-width:40rem;
  background:darken(white, 2%);
  padding:2rem 2.5rem 3rem;
  color:lighten(black, 26%);
  border-top-right-radius:4.25rem;
  h1 {
    text-transform: capitalize;
    font-weight:300;
    line-height:1;
  }
  p {
    line-height:1.2;
  }
  code {
    font-size:0.825rem;
    overflow-x:auto;
    pre {
      background:darken(white, 10%);
      padding:1rem 0.125rem;
    }
  }
  /* Stuff for toggling the longer descriptive text so that the BG image actually shows */
  button {
    border-radius:4px;
    background:white;
    border-width:1px;
    padding:0.375em 0.75em;
    font-size:0.825rem;
    &:after {
      content:"Show Details";
    }
  }
  .desc {
		height:0;
		overflow:hidden;
  }
  
  &.show-details {
    .desc {
      height:auto;
    }
    button:after {
      content:"Hide Details";
    }
  }
  position:absolute;
  top:50%;
  left:50%;
  @include transform( translateX(-50%) translateY(-50%) )
}

@media screen and (max-width: 480px) {
  h1 {
    font-size:1.5rem;
  }
}